body {
  font-family: "Helvetica Neue" Helvetica Arial sans-serif;
}

.wrapper {
  position: relative;
  padding: {
    left: 20px;
    right: 20px;
  }
}

.remove, .autocomplete li {
  cursor: pointer;
}

.loading, .failed {
  display: block;
  text-align: center;
  font-style: italic;
  color: #ccc;
  padding: 10px;
}

.failed {
  color: #cd566a;
}

.create-channel {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 800px;

  input {
    font-size: 18px;
    line-height: 24px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 30px;
    padding: 0 5px;
  }

  .autocomplete {

    margin: 0;
    padding: 0;

    li {
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 5px;
      padding-right: 5px;
      list-style: none;
      line-height: 15px;
      border-bottom: 1px solid #ccc;
    }

    li:hover {
      background-color: #efefef;
    }
  }
  .selected {
    font-weight: bold;
  }
  .artists {
    list-style: none;
    margin: 0; padding:0;
    li {
      display: inline-block;
      padding: 5px;
      background-color: #ccc;
      border-radius: 5px;
      font-size: 10px;
      text-transform: uppercase;
      margin: 5px;
    }
  }
}

.list-channels {
  ul {
    box-sizing: border-box;
    padding: 10px;
    margin: none;
  }
  li {
    list-style: none;
    padding-top: 10px;
    padding-botom: 10px;
  }
  li:last-child {
    margin-top: 10px;
    border-top: 2px solid #efefef;
  }
}