body {
  font-family: "Helvetica Neue" Helvetica Arial sans-serif;
}

.wrapper {
  max-width: 700px;
  position: relative;
  margin: 0 auto;
}

.create-channel {
  input {
    font-size: 18px;
    line-height: 24px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 30px;
    padding: 0 5px;
  }

  .autocomplete {

    margin: 0;
    padding: 0;

    li {
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 5px;
      padding-right: 5px;
      list-style: none;
      line-height: 15px;
      border-bottom: 1px solid #ccc;
    }

    li:hover {
      background-color: #efefef;
    }
  }
  .selected {
    font-weight: bold;
  }
}