<div class="create-channel">
    <h2>Create a new channel</h2>
    <div class="inputForm">
        <input type="text" ng-model="channelName" placeholder="Name your playlist">
        <input type="text" ng-model="queryText" ng-keyup="query($event)" placeholder="Add some artists">
    </div>
    <div class="loading" ng-show="isQuerying">Loading...</div>
    <div class="failed" ng-show="failed">Could not contact Soundcloud.</div>
    <ul class="autocomplete">
        <li ng-repeat="result in results" ng-class="{selected: $index == selected}" ng-click="selectItem($index)">
            <span>{{result.username}}</span>
        </li>
    </ul>
    <ul class="artists">
        <li  ng-repeat="artist in artists">
            {{artist.username}} | <span class="remove" ng-click="removeItem($index)">&times;</span>
        </li>
    </ul>
    <button class="submit" ng-click="submit()">Submit</button>
</div>