<!DOCTYPE html>
<html ng-app="channelsApp">
<head>
    <title></title>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/angular-route.min.js"></script>
</head>
<body>
    <!--Main app-->
    <div ng-controller="ChannelCtrl">

        <!--Sidebar / Channel List-->
        <div>
            <ul>
                <li ng-repeat="channel in channels">
                    {{channel.name}}
                    <ul>
                        <li ng-repeat="artist in channel.artists">
                            {{artist.username}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--Main view-->
        <div ng-view></div>

    </div>

    <!--Vendor Scripts-->
    <script src="vendor/lodash.js"></script>
    <script src="vendor/jquery-2.0.3.js"></script>
    <script src="vendor/soundcloud.js"></script>

    <!--App Scripts-->
    <script src="js/controllers/channels-controller.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>

</body>
</html>