<!DOCTYPE html>
<html ng-app="channelsApp">
<head>

    <title>Soundcloud | Channels</title>

    <!--Styles-->
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/pure-grids.min.css">
    <script src="vendor/soundcloud.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>



</head>
<body>

    <!--Main app-->
    <div ng-controller="ChannelCtrl">
        <div class="pure-g-r">
            <div class="pure-u-1 header">
                <div class="user" ng-show="user">
                    <a href="{{user.permalink_url}}">Hej, {{user.username}}</a> <span ng-click="logout()">(Logout)</span>
                </div>
                <div class="logging-in" ng-show="loggingIn">
                    <span>Logging in...</span>
                </div>
                <div class="login" ng-hide="user || loggingIn">
                    <span ng-click="login()">Login with Soundcloud</span> to search for people you follow.
                </div>
            </div>
        </div>
        <div class="pure-g-r wrapper">
            <!--Sidebar / Channel List-->
            <div class="pure-u-1-4" ng-include="'partials/list-channels.html'"></div>

            <!--Main view-->
            <div class="pure-u-3-4" ng-view></div>

        </div>
    </div>


    <!--Vendor Scripts-->
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/angular-route.min.js"></script>
    <script src="vendor/lodash.js"></script>
    <script src="vendor/soundcloud.js"></script>

    <!--Controllers-->
    <script src="js/controllers/create-channel.js"></script>
    <script src="js/controllers/view-channel.js"></script>
    <script src="js/controllers/autocomplete.js"></script>

    <!--Components-->
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>

</body>
</html>